body {
  display: flex;
  justify-content: center;
  background-color: black;
}
h1 {
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  color: white;
}
.board {
  display: flex;
  flex-wrap: wrap;
}
.gird {
  border: 2px solid white;
}
